* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

.titulo-principal, .header-title h2, .header-title h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900; }

.titulo-secundario {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300; }

.titulo-negrita {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.015em; }

.subtitulo-mayuscula {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase; }

.body-cuerpo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400; }

.body-textos-chicos {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400; }

.body-negrita {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700; }

.header {
  position: relative;
  background-image: url("../images/header-bg-sm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 381px; }
  .header .navbar {
    margin: 0 25px;
    padding: 23px 0;
    display: flex;
    justify-content: space-between; }
    .header .navbar-brand a {
      text-decoration: none; }
      .header .navbar-brand a div {
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .header .navbar-brand a div img {
          width: 19px;
          height: 18.87px; }
        .header .navbar-brand a div span {
          display: block;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          color: #FFFFFF;
          text-transform: uppercase; }
    .header .navbar-open-menu img {
      width: 35px;
      height: 24px; }
    .header .navbar-nav {
      display: none; }
  .header-title {
    position: absolute;
    bottom: 129px;
    left: 35px; }
    .header-title h2 {
      font-size: 20px;
      letter-spacing: 0.095em;
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke: 1px #FFFFFF; }
    .header-title h3 {
      font-size: 36px;
      line-height: 38px;
      color: #FFFFFF;
      text-transform: lowercase; }
  .header .welcome {
    display: none; }
  .header .social-media {
    display: none; }
  .header .menu-mobile {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all ease-in 600ms; }
    .header .menu-mobile .menu {
      position: relative;
      width: 100%;
      height: 594px;
      background-color: #FFFFFF; }
      .header .menu-mobile .menu-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 24px;
        padding: 29px 0; }
        .header .menu-mobile .menu-navbar .menu-brand {
          display: flex;
          align-items: center; }
          .header .menu-mobile .menu-navbar .menu-brand img {
            width: 45px;
            height: 44px; }
          .header .menu-mobile .menu-navbar .menu-brand span {
            display: block;
            padding: 0 10px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #222133; }
      .header .menu-mobile .menu .menu-nav {
        padding: 9px 0;
        margin-left: 11%; }
        .header .menu-mobile .menu .menu-nav ul {
          display: flex;
          flex-direction: column; }
          .header .menu-mobile .menu .menu-nav ul a {
            text-decoration: none; }
            .header .menu-mobile .menu .menu-nav ul a li {
              list-style-type: none;
              display: flex;
              align-items: center;
              padding: 20px 0; }
              .header .menu-mobile .menu .menu-nav ul a li img {
                width: 24px;
                height: 24px; }
              .header .menu-mobile .menu .menu-nav ul a li span {
                display: block;
                padding: 0 16px;
                font-family: 'Inter';
                font-family: 'SF UI Display';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #9BC3BF; }
      .header .menu-mobile .menu .menu-logout {
        position: absolute;
        display: flex;
        align-items: center;
        left: 11%;
        bottom: 50px; }
        .header .menu-mobile .menu .menu-logout img {
          width: 24px;
          height: 24px; }
        .header .menu-mobile .menu .menu-logout span {
          display: block;
          padding: 0 16px;
          font-family: 'Inter';
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #9BC3BF; }
    .header .menu-mobile-bg {
      z-index: 10;
      width: 100%;
      height: calc(100% - 594px);
      background-color: rgba(0, 0, 0, 0.2); }
  .header .show-menu {
    transform: translateX(0); }

.header-home {
  margin-bottom: 211px; }
  .header-home .welcome {
    position: absolute;
    top: 380px;
    width: 100%;
    height: 211px;
    background-color: #047A6E;
    border-radius: 0px 0px 57px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .header-home .welcome-subtitle {
      padding-bottom: 13px; }
      .header-home .welcome-subtitle h4 {
        font-family: 'Inter';
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF; }
    .header-home .welcome-text {
      padding: 13px 7% 0; }
      .header-home .welcome-text p {
        font-family: 'Inter';
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF; }

.brand-message {
  padding-top: 50px; }
  .brand-message-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 280px;
    margin: 0 auto; }
    .brand-message-title .border-bg {
      background-image: url("../images/brand-message-title-bg-sm.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 257.86px;
      height: 187.08px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .brand-message-title .border-bg h2 {
        font-family: 'Inter';
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        padding: 0 10px;
        color: #000000; }
  .brand-message-carousel {
    position: relative;
    margin-top: 50px;
    margin-bottom: 260px; }
    .brand-message-carousel .carousel-controls {
      z-index: 3;
      position: absolute;
      top: 86px;
      left: 0;
      right: 0;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto; }
      .brand-message-carousel .carousel-controls img {
        width: 13px;
        height: 22px; }
    .brand-message-carousel .carousel-message {
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-content: center; }
      .brand-message-carousel .carousel-message .message-box {
        grid-row: 1/2;
        grid-column: 1/2;
        opacity: 0;
        width: 239px;
        height: 215px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .brand-message-carousel .carousel-message .message-box h3 {
          font-family: 'Inter';
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          text-transform: uppercase;
          text-align: center; }
        .brand-message-carousel .carousel-message .message-box p {
          font-family: 'Inter';
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          color: #535353; }
        .brand-message-carousel .carousel-message .message-box button {
          width: 196px;
          height: 36px;
          margin: 0 auto;
          background: #EDEDED;
          border-radius: 85px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          font-family: 'Inter';
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          text-transform: uppercase; }
      .brand-message-carousel .carousel-message .active {
        opacity: 1; }
    .brand-message-carousel .carousel-target {
      position: absolute;
      top: 250px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 67px;
      height: 11px;
      display: flex;
      justify-content: space-between; }
      .brand-message-carousel .carousel-target .target {
        width: 11px;
        height: 11px;
        background: rgba(214, 116, 72, 0.5);
        border-radius: 50%; }
      .brand-message-carousel .carousel-target .current {
        background: #D67448; }

.home-about {
  padding-top: 120px; }
  .home-about-image {
    padding-bottom: 1px;
    display: flex;
    justify-content: center; }
    .home-about-image img {
      width: 310px;
      height: 263px; }
    .home-about-image .image-lg {
      display: none; }
  .home-about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 199px;
    height: 185px;
    margin: 0 auto; }
    .home-about-info h3 {
      font-family: 'Inter';
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      text-align: center; }
    .home-about-info p {
      font-family: 'Inter';
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #535353; }
    .home-about-info button {
      width: 166px;
      height: 40px;
      margin: 0 auto;
      background: #D67448;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      font-family: 'Inter';
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      text-transform: uppercase; }

.home-proyects {
  margin-top: 110px; }
  .home-proyects-title h2 {
    font-family: 'Inter';
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center; }
  .home-proyects-carousel {
    background-image: url("../images/home-proyects-bg-sm.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 90%;
    margin: 50px auto 0;
    max-width: 323px;
    height: 287px; }
    .home-proyects-carousel .carousel-controls {
      z-index: 15;
      position: absolute;
      top: 120px;
      left: 0;
      right: 0;
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
    .home-proyects-carousel .carousel-proyects {
      position: absolute;
      top: 48px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center; }
      .home-proyects-carousel .carousel-proyects .proyect-box {
        grid-row: 1/2;
        grid-column: 1/2;
        opacity: 0;
        width: 50%;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .home-proyects-carousel .carousel-proyects .proyect-box h3 {
          font-family: 'Inter';
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: #000000;
          text-align: center; }
        .home-proyects-carousel .carousel-proyects .proyect-box p {
          font-family: 'Inter';
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #535353; }
        .home-proyects-carousel .carousel-proyects .proyect-box span {
          display: block;
          font-family: 'Inter';
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center; }
          .home-proyects-carousel .carousel-proyects .proyect-box span a {
            text-decoration: none;
            color: #888888; }
      .home-proyects-carousel .carousel-proyects .active {
        opacity: 1; }
    .home-proyects-carousel .carousel-target {
      position: absolute;
      top: 228px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 67px;
      height: 11px;
      display: flex;
      justify-content: space-between; }
      .home-proyects-carousel .carousel-target .target {
        width: 11px;
        height: 11px;
        background: rgba(214, 116, 72, 0.5);
        border-radius: 50%; }
      .home-proyects-carousel .carousel-target .current {
        background: #D67448; }

.home-banner {
  margin-top: 110px;
  width: 100%;
  height: 347px;
  background: linear-gradient(180deg, #E99D6D 34.9%, #F1EFEE 83.33%, #FFFFFF 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home-banner .banner-title {
    width: 90%; }
    .home-banner .banner-title h3 {
      font-family: 'Inter';
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #FFFFFF; }
  .home-banner .banner-text {
    width: 90%;
    padding-top: 50px; }
    .home-banner .banner-text p {
      font-family: 'Inter';
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      text-align: center; }

.contact {
  margin-top: 55px; }
  .contact-form h3 {
    font-family: 'Inter';
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    padding: 9px 0; }
  .contact-form h4 {
    width: 90%;
    margin: 15px auto;
    font-family: 'Inter';
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000; }
  .contact-form .form-group {
    margin-top: 35px; }
    .contact-form .form-group input {
      display: block;
      width: 90%;
      margin: 0 auto 10px;
      height: 47px;
      border: 1px solid #AFAFAF; }
    .contact-form .form-group input::placeholder {
      padding: 0 10px; }
    .contact-form .form-group input.textarea {
      display: block;
      width: 90%;
      height: 140px;
      margin: 0 auto 10px;
      border: 1px solid #AFAFAF; }
  .contact-form button {
    display: block;
    margin: 26px auto;
    width: 130px;
    height: 40px;
    background: #D67448;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Inter';
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase; }
  .contact-form .contact-media {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .contact-form .contact-media li {
      list-style-type: none;
      padding: 13px 0; }
      .contact-form .contact-media li div {
        display: flex;
        align-items: center; }
        .contact-form .contact-media li div div {
          width: 28px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px; }
        .contact-form .contact-media li div span {
          display: block;
          font-size: 14px;
          line-height: 16px; }
  .contact-images {
    width: 90%;
    margin: 32px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    gap: 10px; }

.footer {
  margin-top: 34px;
  width: 100%;
  height: 152px;
  background: linear-gradient(96.3deg, #047A6E 1.86%, #9BC3BF 98.69%);
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto; }
  .footer-logo {
    padding-left: 10%;
    align-self: flex-start;
    display: flex;
    align-items: center; }
    .footer-logo span {
      display: block;
      font-family: 'Comfortaa';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.015em;
      color: #FFFFFF;
      padding: 0 10px; }
  .footer-media {
    padding-right: 10%;
    justify-self: right; }
    .footer-media-net ul {
      width: 90px;
      display: flex;
      justify-content: space-between; }
      .footer-media-net ul li {
        list-style-type: none; }
    .footer-media-menu ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px 0; }
      .footer-media-menu ul li {
        list-style-type: none;
        padding: 6px 0; }
        .footer-media-menu ul li a {
          text-decoration: none;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.015em;
          color: #FFFFFF; }
  .footer-copy {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center; }
    .footer-copy p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.015em;
      color: rgba(255, 255, 255, 0.8); }

.proyects {
  padding: 50px 0; }
  .proyects-title {
    width: 90%;
    margin: 0 auto 50px; }
    .proyects-title h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      text-align: center; }
  .proyects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 50px; }
    .proyects-grid-box {
      display: flex;
      flex-direction: column; }
      .proyects-grid-box .box-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 310px;
        height: 281px;
        margin: 0 auto;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .proyects-grid-box .box-image span {
          display: block;
          width: 200px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 900;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          color: #FFFFFF; }
      .proyects-grid-box .box-one {
        background-image: url("../images/proyect-image-one-sm.png"); }
      .proyects-grid-box .box-two {
        background-image: url("../images/proyect-image-two-sm.png"); }
      .proyects-grid-box .box-three {
        background-image: url("../images/proyect-image-three-sm.png"); }
      .proyects-grid-box .box-title {
        width: 200px;
        margin: 20px auto 10px; }
        .proyects-grid-box .box-title h3 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: #000000; }
      .proyects-grid-box .box-text {
        width: 310px;
        margin: 0 auto; }
        .proyects-grid-box .box-text p {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #535353; }

.about-me {
  padding-top: 60px; }
  .about-me-grid {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about-me-grid .about-title h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      text-align: center; }
    .about-me-grid .about-image {
      width: 90%;
      max-width: 315px;
      height: 268px;
      display: flex;
      justify-content: center; }
      .about-me-grid .about-image img {
        width: inherit;
        height: 268px; }
    .about-me-grid .about-text {
      width: 90%; }
      .about-me-grid .about-text p {
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #000000; }

.about-banner {
  margin-top: 50px; }
  .about-banner-quote {
    padding-top: 30px; }
    .about-banner-quote h2 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000; }
  .about-banner-text {
    margin-top: 30px;
    width: 100%;
    height: 126px;
    background: #D67448; }
    .about-banner-text ul {
      width: 90%;
      max-width: 310px;
      height: inherit;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .about-banner-text ul li {
        list-style-type: none;
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF; }
      .about-banner-text ul li:last-child {
        display: none; }

.about-main {
  padding-top: 90px;
  background: #F1F1F1; }
  .about-main-image {
    background-image: url("../images/camping.jpg");
    /* about-oval-image-sm.png */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgba(4, 122, 110, 0.62);
    border-radius: 62%;
    transform: rotate(-1.02deg);
    width: 268.92px;
    height: 210.86px;
    margin: 0 auto; }
    .about-main-image .bg-border {
      width: inherit;
      height: inherit;
      border: 3px solid rgba(4, 122, 110, 0.62);
      border-radius: 55%;
      transform: rotate(-44.86deg); }
  .about-main-text {
    padding: 50px 0 20px; }
    .about-main-text p {
      width: 90%;
      margin: 0 auto;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #000000; }
    .about-main-text button {
      display: block;
      width: 166px;
      height: 40px;
      margin: 35px auto;
      border: none;
      background: #D67448;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      text-transform: uppercase; }

.about-media {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px 0; }
  .about-media-title {
    align-self: center; }
    .about-media-title h3 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 50px;
      color: #047A6E; }
  .about-media-net {
    align-self: center;
    justify-self: right; }
    .about-media-net ul {
      width: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .about-media-net ul .image-lg {
        display: none; }
  .about-media-images {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between; }
    .about-media-images .image-lg {
      display: none; }

.services {
  margin: 70px auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 45px; }
  .services-box-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 324px;
    height: 263px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .services-box-image span {
      display: block;
      width: 180px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 38px;
      color: #FFFFFF;
      text-align: center; }
  .services-box .image-one {
    background-image: url("../images/services-image-one-sm.png"); }
  .services-box .image-two {
    background-image: url("../images/services-image-two-sm.png"); }
  .services-box .image-three {
    background-image: url("../images/services-image-three-sm.png"); }
    .services-box .image-three span {
      width: 90%; }
  .services-box-info .title-lg {
    display: none; }
  .services-box-info p {
    margin-top: 15px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #03293C; }
  .services-box-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 40px;
    margin: 20px auto 0;
    background: #D67448;
    border: none;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase; }

.testimonials-title {
  padding-top: 20px; }
  .testimonials-title h3 {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000; }

.testimonials-carousel {
  position: relative;
  height: 300px; }
  .testimonials-carousel .carousel-controls {
    position: absolute;
    top: 128px;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .testimonials-carousel .carousel-boxes {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 189.5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .testimonials-carousel .carousel-boxes .carousel-box {
      grid-column: 1/2;
      grid-row: 1/2;
      opacity: 0;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .testimonials-carousel .carousel-boxes .carousel-box img {
        width: 38.5px;
        height: 38.5px; }
      .testimonials-carousel .carousel-boxes .carousel-box p {
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #535353; }
      .testimonials-carousel .carousel-boxes .carousel-box h4 {
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #535353;
        text-transform: uppercase; }
    .testimonials-carousel .carousel-boxes .active {
      opacity: 1; }
  .testimonials-carousel .carousel-target {
    position: absolute;
    top: 245px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 11px;
    display: flex;
    justify-content: space-between; }
    .testimonials-carousel .carousel-target .target {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: rgba(214, 116, 72, 0.5); }
    .testimonials-carousel .carousel-target .current {
      background: #D67448; }

.faq {
  background: #EFEFEF;
  padding-bottom: 35px;
  margin-bottom: -35px; }
  .faq-title {
    padding: 33px 0; }
    .faq-title h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #000000; }
  .faq-quotes {
    width: 90%;
    margin: 0 auto; }
    .faq-quotes div {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr;
      padding: 10px 0;
      border-bottom: 1px solid #D9D9D9; }
      .faq-quotes div h3 {
        align-self: center;
        padding: 5px 0;
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #000000; }
      .faq-quotes div div {
        align-self: center;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none; }
        .faq-quotes div div .open {
          content: url("../icons/angle-down-fp.svg");
          width: 24px;
          height: auto;
          cursor: pointer; }
        .faq-quotes div div .close {
          content: url("../icons/close-faq.png");
          width: 7px;
          height: 1px;
          cursor: pointer; }
      .faq-quotes div p {
        display: none;
        padding: 5px 0;
        grid-row: 2/3;
        grid-column: 1/3;
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #535353;
        transition: .7s; }
      .faq-quotes div p.active {
        display: block; }

@media screen and (min-width: 1024px) {
  .header {
    background-image: url("../images/header-bg-two-lg.png");
    height: 656px;
    border-radius: 0px 0px 170px 0px; }
    .header .navbar {
      position: relative;
      margin: 0 auto;
      padding: 68px 0;
      width: 75%;
      max-width: 1060px;
      justify-content: center;
      align-items: center; }
      .header .navbar-brand {
        z-index: 5; }
        .header .navbar-brand a {
          text-decoration: none; }
          .header .navbar-brand a div {
            width: 150px; }
            .header .navbar-brand a div img {
              width: 22.52px;
              height: 22.52px; }
            .header .navbar-brand a div span {
              font-size: 40px; }
      .header .navbar-open-menu {
        display: none; }
      .header .navbar-nav {
        z-index: 3;
        position: absolute;
        display: block;
        width: 100%; }
        .header .navbar-nav ul {
          display: grid;
          grid-template-columns: 1fr 1fr 50% 1fr 1fr;
          grid-template-rows: 1fr; }
          .header .navbar-nav ul a {
            text-decoration: none; }
            .header .navbar-nav ul a li {
              font-family: 'SF UI Display';
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              color: #FFFFFF;
              list-style-type: none; }
          .header .navbar-nav ul .disable {
            cursor: none; }
          .header .navbar-nav ul .left-item {
            justify-self: right; }
          .header .navbar-nav ul .rigth-item {
            justify-self: left; }
    .header-title {
      left: 273px;
      bottom: 208px; }
      .header-title h2 {
        font-size: 50px;
        -webkit-text-stroke: 2px #FFFFFF; }
      .header-title h3 {
        font-size: 82px;
        line-height: 85px; }
    .header .social-media {
      display: block;
      position: absolute;
      top: 240px;
      right: 0; }
      .header .social-media ul {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .header .social-media ul a {
          text-decoration: none;
          padding: 12px 40px 12px 0; }
          .header .social-media ul a li {
            list-style-type: none;
            padding: 0 20px; }
            .header .social-media ul a li img {
              width: 20px;
              height: 20px; }
        .header .social-media ul a:last-child {
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 61px 0 0 61px; }
          .header .social-media ul a:last-child li img {
            width: 25px;
            height: 16px; }
    .header .menu-mobile {
      display: none; }
  .header-home {
    background-image: url("../images/header-bg-lg.png");
    height: 834px;
    margin-bottom: 0; }
    .header-home .header-title {
      bottom: 376px; }
    .header-home .welcome {
      background-color: rgba(0, 0, 0, 0);
      top: auto;
      bottom: 0;
      flex-direction: row;
      justify-content: left;
      height: 154px; }
      .header-home .welcome-subtitle {
        position: absolute;
        left: 0;
        padding: 0;
        width: 25%;
        height: 154px;
        background: #047A6E;
        border-radius: 0px 127px 0px 0px;
        display: flex;
        align-items: center; }
        .header-home .welcome-subtitle h4 {
          position: relative;
          left: 30%;
          font-size: 32px; }
      .header-home .welcome-text {
        padding: 0;
        width: 75%;
        height: 154px;
        background: #E99D6D;
        border-radius: 0px 127px 0px 0px;
        display: flex;
        align-items: center; }
        .header-home .welcome-text p {
          margin-left: 30%;
          padding: 0 10%;
          font-size: 24px; }
  .brand-message-title {
    max-width: 70%; }
    .brand-message-title .border-bg {
      background-image: none;
      width: 100%; }
      .brand-message-title .border-bg h2 {
        font-size: 32px;
        line-height: 36px; }
  .brand-message-carousel .carousel-controls {
    display: none; }
  .brand-message-carousel .carousel-message {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 90%;
    margin: 0 auto; }
    .brand-message-carousel .carousel-message .message-box {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 255px;
      height: 269px;
      opacity: 1; }
      .brand-message-carousel .carousel-message .message-box h3 {
        font-size: 20px;
        line-height: 24px; }
      .brand-message-carousel .carousel-message .message-box p {
        font-size: 16px;
        line-height: 24px; }
      .brand-message-carousel .carousel-message .message-box button {
        width: 231px;
        height: 52px;
        font-size: 16px;
        line-height: 18px; }
    .brand-message-carousel .carousel-message .message-box:first-child {
      grid-column: 1/2;
      grid-row: 1/2; }
    .brand-message-carousel .carousel-message .message-box:last-child {
      grid-column: 3/4;
      grid-row: 1/2; }
  .brand-message-carousel .carousel-target {
    display: none; }
  .home-about {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto; }
    .home-about-image .image-sm {
      display: none; }
    .home-about-image .image-lg {
      display: block;
      width: 481px;
      height: 536px; }
    .home-about-info {
      align-items: flex-start;
      padding-bottom: 100px;
      width: 357px;
      height: 198px;
      margin: 0 100px; }
      .home-about-info h3 {
        font-size: 32px;
        line-height: 36px; }
      .home-about-info p {
        font-size: 16px;
        line-height: 19px;
        text-align: left; }
      .home-about-info button {
        width: 231px;
        height: 52px;
        font-size: 16px;
        line-height: 19px;
        margin: 0; }
  .home-proyects {
    margin-top: 150px; }
    .home-proyects-title h2 {
      font-size: 32px;
      line-height: 36px; }
    .home-proyects-carousel {
      background-image: none;
      max-width: 90%;
      height: 480px;
      margin: 0 auto; }
      .home-proyects-carousel .carousel-controls {
        display: none; }
      .home-proyects-carousel .carousel-proyects {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: 0 auto; }
        .home-proyects-carousel .carousel-proyects .proyect-box {
          grid-column: 2/3;
          width: 354px;
          height: 290px;
          justify-content: center;
          opacity: 0.7; }
          .home-proyects-carousel .carousel-proyects .proyect-box h3 {
            width: 180px;
            margin: 0 auto;
            font-size: 28px;
            line-height: 31px; }
          .home-proyects-carousel .carousel-proyects .proyect-box p {
            font-size: 14px;
            line-height: 16px;
            margin: 24px 0;
            padding: 0 20px; }
          .home-proyects-carousel .carousel-proyects .proyect-box span {
            font-size: 14px;
            line-height: 16px; }
        .home-proyects-carousel .carousel-proyects .proyect-box:first-child {
          grid-column: 1/2; }
        .home-proyects-carousel .carousel-proyects .proyect-box:last-child {
          grid-column: 3/4; }
        .home-proyects-carousel .carousel-proyects .active {
          background-image: url("../images/home-proyects-bg-lg.png");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          margin-top: 80px;
          opacity: 1;
          grid-column: 2/3; }
          .home-proyects-carousel .carousel-proyects .active h3 {
            width: 220px;
            margin: 0 auto;
            font-size: 32px;
            line-height: 35px; }
          .home-proyects-carousel .carousel-proyects .active p {
            font-size: 16px;
            line-height: 19px;
            margin: 24px 0;
            padding: 0 20px; }
          .home-proyects-carousel .carousel-proyects .active span {
            font-size: 16px;
            line-height: 19px; }
        .home-proyects-carousel .carousel-proyects .first {
          grid-column: 1/2; }
        .home-proyects-carousel .carousel-proyects .third {
          grid-column: 3/4; }
      .home-proyects-carousel .carousel-target {
        z-index: 15;
        top: 460px;
        width: 123px;
        height: 13px; }
        .home-proyects-carousel .carousel-target .target {
          z-index: 15;
          width: 13px;
          height: 13px;
          background: #D9D9D9; }
        .home-proyects-carousel .carousel-target .current {
          background: #A2A2A2; }
  .home-banner {
    z-index: 1;
    position: relative;
    flex-direction: row-reverse;
    height: 510px; }
    .home-banner .banner-text {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      background: #F1F1F1;
      height: 297px;
      width: 70%;
      padding: 0 0 0 10%;
      display: flex;
      align-items: center; }
      .home-banner .banner-text p {
        display: flex;
        align-items: center;
        width: 492px;
        height: 204px;
        font-size: 24px;
        line-height: 34px;
        text-align: left; }
    .home-banner .banner-title {
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: inherit;
      background: #E99D6D;
      border-radius: 148.5px 0px 0px 0px;
      padding: 0 0 0 10%; }
      .home-banner .banner-title h3 {
        height: 297px;
        display: flex;
        align-items: center;
        font-size: 32px;
        line-height: 38px; }
  .contact {
    position: relative;
    z-index: 4;
    top: -213px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin: 0;
    background-color: #fff;
    border-radius: 0px 140px 0px 0px; }
    .contact-form {
      transform: translateY(213px);
      z-index: 5;
      grid-row: 1/2;
      grid-column: 2/3;
      width: 60%;
      justify-self: center; }
      .contact-form h3 {
        font-size: 32px;
        line-height: 35px; }
      .contact-form h4 {
        font-size: 24px;
        line-height: 27px; }
      .contact-form .contact-media li div span {
        font-size: 16px;
        line-height: 19px; }
    .contact-images {
      z-index: 5;
      transform: translateY(213px);
      grid-row: 1/2;
      grid-column: 1/2;
      gap: 0;
      position: relative;
      display: block;
      /* img {
        transform: rotate(24.76deg);
        width: 169px;
        height: 197px;
        border-radius: 17px;
      } */ }
      .contact-images > :nth-child(1) {
        width: 198px;
        position: absolute;
        top: 300px;
        left: -50px;
        transform: rotate(24.76deg);
        z-index: 8; }
      .contact-images > :nth-child(2) {
        width: 219px;
        position: absolute;
        top: 50px;
        left: 10px;
        transform: rotate(24.76deg);
        z-index: 9; }
      .contact-images > :nth-child(3) {
        width: 149px;
        position: absolute;
        top: 160px;
        left: 350px;
        transform: rotate(24.76deg);
        z-index: 2; }
      .contact-images > :nth-child(4) {
        width: 165px;
        position: absolute;
        top: -70px;
        left: 40px;
        transform: rotate(24.76deg);
        z-index: 6; }
      .contact-images > :nth-child(5) {
        width: 219px;
        position: absolute;
        top: 250px;
        left: 150px;
        transform: rotate(24.76deg);
        z-index: 4; }
      .contact-images > :nth-child(6) {
        width: 191px;
        position: absolute;
        top: 20px;
        left: 250px;
        transform: rotate(24.76deg);
        z-index: -1; }
  .footer {
    z-index: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center; }
    .footer-logo {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center; }
      .footer-logo span {
        font-size: 28px;
        line-height: 31px; }
    .footer-media {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: center; }
      .footer-media-net {
        display: none; }
      .footer-media-menu ul {
        flex-direction: row; }
        .footer-media-menu ul li {
          padding: 0 25px; }
          .footer-media-menu ul li a {
            font-size: 15px;
            line-height: 18px; }
    .footer-copy {
      grid-column: 3/4;
      grid-row: 1/2; }
      .footer-copy p {
        font-size: 15px;
        line-height: 18px; }
  .proyects {
    padding: 100px 0; }
    .proyects-title h3 {
      font-size: 20px;
      line-height: 24px; }
    .proyects-grid {
      gap: 140px;
      width: 80%;
      max-width: 1080px;
      margin: 0 auto;
      padding: 50px 0; }
      .proyects-grid-box {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr auto;
        grid-gap: 42px 0; }
        .proyects-grid-box .box-image {
          grid-row: 1/2;
          grid-column: 1/3;
          width: 100%;
          height: 445px;
          display: block; }
          .proyects-grid-box .box-image span {
            position: relative;
            width: 300px;
            top: 47px;
            left: 92px;
            font-size: 36px;
            line-height: 50px; }
        .proyects-grid-box .box-one {
          background-image: url("../images/proyect-image-one-lg.png"); }
        .proyects-grid-box .box-two {
          background-image: url("../images/proyect-image-two-lg.png"); }
        .proyects-grid-box .box-three {
          background-image: url("../images/proyect-image-three-lg.png"); }
        .proyects-grid-box .box-title {
          grid-row: 2/3;
          grid-column: 1/2;
          width: 90%;
          margin: 0; }
          .proyects-grid-box .box-title h3 {
            font-size: 36px;
            line-height: 50px;
            text-align: left; }
        .proyects-grid-box .box-text {
          grid-row: 2/3;
          grid-column: 2/3;
          width: 90%;
          margin: 0 0 0 auto; }
          .proyects-grid-box .box-text p {
            font-size: 16px;
            line-height: 24px;
            text-align: left; }
  .about-me {
    padding-top: 150px; }
    .about-me-grid {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; }
      .about-me-grid .about-title {
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: flex-end;
        width: 348px;
        margin-left: 100px;
        transform: translateY(-100px); }
        .about-me-grid .about-title h3 {
          font-size: 32px;
          line-height: 38px;
          text-align: left; }
      .about-me-grid .about-text {
        grid-row: 2/3;
        grid-column: 2/3;
        align-self: flex-start;
        width: 348px;
        margin-left: 100px;
        transform: translateY(-75px); }
        .about-me-grid .about-text p {
          font-size: 16px;
          line-height: 24px;
          text-align: left; }
      .about-me-grid .about-image {
        grid-row: 1/3;
        grid-column: 1/2;
        width: 100%;
        max-width: 531px;
        height: 536px;
        border-radius: 40px;
        align-items: center; }
        .about-me-grid .about-image img {
          height: 536px; }
  .about-banner-quote h2 {
    font-size: 32px;
    line-height: 38px; }
  .about-banner-text {
    margin-top: 90px;
    height: 397px; }
    .about-banner-text ul {
      width: 75%;
      max-width: 75%;
      justify-content: space-between; }
      .about-banner-text ul li {
        width: 45%;
        max-width: 450px;
        font-size: 24px;
        line-height: 30px;
        text-align: left; }
      .about-banner-text ul li:last-child {
        display: block; }
  .about-main {
    display: flex;
    width: 80%;
    padding: 150px 10%;
    align-items: center; }
    .about-main-image {
      width: 524.35px;
      height: 411.14px;
      border: 3px solid rgba(4, 122, 110, 0.62);
      border-radius: 62%;
      transform: rotate(-1.02deg); }
    .about-main-text {
      padding-left: 60px; }
      .about-main-text p {
        font-size: 16px;
        line-height: 24px; }
      .about-main-text button {
        font-size: 16px;
        line-height: 24px; }
  .about-media {
    margin: 150px auto;
    width: 80%;
    grid-gap: 34px 0; }
    .about-media-title h3 {
      font-size: 36px;
      line-height: 50px; }
    .about-media-net ul {
      width: 229px; }
      .about-media-net ul .image-sm {
        display: none; }
      .about-media-net ul .image-lg {
        display: block; }
    .about-media-images .image-sm {
      display: none; }
    .about-media-images .image-lg {
      display: block;
      width: 22%;
      max-width: 256px;
      max-height: 280px; }
  .services {
    margin: 180px auto;
    width: 80%;
    gap: 100px; }
    .services-box {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
      align-items: center; }
      .services-box-image {
        width: 90%;
        max-width: 550px;
        height: 393px;
        margin: 0;
        border-radius: 40px;
        background-position: left;
        background-size: cover; }
        .services-box-image span {
          display: none; }
      .services-box .image-one {
        background-image: url("../images/services-image-one-lg.png"); }
      .services-box .image-two {
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url("../images/services-image-two-lg.png"); }
      .services-box .image-three {
        background-image: url("../images/services-image-three-lg.png"); }
      .services-box-info {
        width: 90%; }
        .services-box-info .title-lg {
          display: block;
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #000000; }
        .services-box-info p {
          font-size: 16px;
          line-height: 24px; }
        .services-box-info button {
          margin: 40px 0;
          font-size: 16px;
          line-height: 24px; }
      .services-box .info-two {
        grid-row: 1/2;
        grid-column: 1/2; }
  .testimonials {
    margin-bottom: 150px; }
    .testimonials-title h3 {
      font-size: 32px;
      line-height: 38px;
      color: #03293C; }
    .testimonials-carousel {
      top: 50px;
      height: 350px; }
      .testimonials-carousel .carousel-controls {
        display: none; }
      .testimonials-carousel .carousel-boxes {
        width: 80%;
        display: flex;
        justify-content: space-between; }
        .testimonials-carousel .carousel-boxes .carousel-box {
          opacity: 1;
          width: 256px;
          height: 261.5px; }
          .testimonials-carousel .carousel-boxes .carousel-box p {
            font-size: 16px;
            line-height: 24px; }
          .testimonials-carousel .carousel-boxes .carousel-box h4 {
            font-size: 20px;
            line-height: 24px; }
      .testimonials-carousel .carousel-target {
        display: none; }
  .faq {
    padding-top: 40px;
    padding-bottom: 130px; }
    .faq-title {
      padding: 93px 0 53px; }
      .faq-title h3 {
        font-size: 32px;
        line-height: 38px; }
    .faq-quotes {
      width: 70%;
      background: #EFEFEF; }
      .faq-quotes div {
        margin: 5px 0;
        background: #FFFFFF;
        border-radius: 5px;
        border-bottom: none; }
        .faq-quotes div h3 {
          display: flex;
          align-items: center;
          height: 60px;
          padding: 0 15px;
          font-size: 20px;
          line-height: 24px; }
        .faq-quotes div div {
          padding: 0 15px; }
          .faq-quotes div div .open {
            content: url("../icons/open-faq-lg.png");
            width: 17px;
            height: auto; }
          .faq-quotes div div .close {
            width: 15px;
            height: auto; }
        .faq-quotes div p {
          padding: 15px;
          font-size: 20px;
          line-height: 24px; } }
