* {
  margin: 0;
  padding: 0;   
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.titulo-principal {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
}

.titulo-secundario {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
}

.titulo-negrita {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.015em;
}

.subtitulo-mayuscula {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.body-cuerpo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.body-textos-chicos {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.body-negrita {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

//Mobile Home

.header {
  position: relative;
  background-image: url('../images/header-bg-sm.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 381px;
  .navbar {
    margin: 0 25px;
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    &-brand {
      a {
        text-decoration: none;
        div {
          width: 90px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            width: 19px;
            height: 18.87px;
          }
          span {
            display: block;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            color: #FFFFFF;
            text-transform: uppercase;
          }
        }
      }
    }
    &-open-menu {
      img {
        width: 35px;
        height: 24px;
      }
    }
    &-nav {
      display: none;
    }
  }
  &-title {
    position: absolute;
    bottom: 129px;
    left: 35px;
    h2 {
      @extend .titulo-principal;
      font-size: 20px;
      letter-spacing: 0.095em;
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke: 1px #FFFFFF;
    }
    h3 {
      @extend .titulo-principal;
      font-size: 36px;
      line-height: 38px;
      color: #FFFFFF;
      text-transform: lowercase;
    }
  }
  .welcome {
    display: none;
  }
  .social-media {
    display: none;
  }
  .menu-mobile {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all ease-in 600ms;
    .menu {
      position: relative;
      width: 100%;
      height: 594px;
      background-color: #FFFFFF;
      &-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 24px;
        padding: 29px 0;
        .menu-brand {
          display: flex;
          align-items: center;
          img {
            width: 45px;
            height: 44px;
          }
          span {
            display: block;
            padding: 0 10px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #222133;
          }
        }
      }
      .menu-nav {
        padding: 9px 0;
        margin-left: 11%;
        ul {
          display: flex;
          flex-direction: column;
          a {
            text-decoration: none;
            li {
              list-style-type: none;
              display: flex;
              align-items: center;
              padding: 20px 0;
              img {
                width: 24px;
                height: 24px;
              }
              span {
                display: block;
                padding: 0 16px;
                font-family: 'SF UI Display';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #9BC3BF;
              }
            }
          }
        }
      }
      .menu-logout {
        position: absolute;
        display: flex;
        align-items: center;
        left: 11%;
        bottom: 50px;
        img {
          width: 24px;
          height: 24px;
        }
        span {
          display: block;
          padding: 0 16px;
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #9BC3BF;
        }
      }
    }
    &-bg {
      z-index: 10;
      width: 100%;
      height: calc(100% - 594px);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .show-menu {
    transform: translateX(0);
  }
}
.header-home {
  margin-bottom: 211px;
  .welcome {
    position: absolute;
    top: 380px;
    width: 100%;
    height: 211px;
    background-color: #047A6E;
    border-radius: 0px 0px 57px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-subtitle {
      padding-bottom: 13px;
      h4 {
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
      }
    } 
    &-text {
      padding: 13px 7% 0;
      p {
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}

//Index - Brand Message

.brand-message {
  padding-top: 50px;
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 280px;
    margin: 0 auto;
    .border-bg {
      background-image: url('../images/brand-message-title-bg-sm.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 257.86px;
      height: 187.08px;  
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        padding: 0 10px;
        color: #000000;
      }
    }
  }
  &-carousel {
    position: relative;
    margin-top: 50px;
    margin-bottom: 260px;
    .carousel-controls {
      z-index: 3;
      position: absolute;
      top: 86px;
      left: 0;
      right: 0;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      img {
        width: 13px;
        height: 22px;
      }
    }
    .carousel-message {
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-content: center;
      .message-box {
        grid-row: 1/2;
        grid-column: 1/2;
        opacity: 0;
        width: 239px;
        height: 215px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          text-transform: uppercase;
          text-align: center;
        }
        p {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          color: #535353;
        }
        button {
          width: 196px;
          height: 36px;
          margin: 0 auto;
          background: #EDEDED;
          border-radius: 85px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;

          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          text-transform: uppercase;
        }
      }
      .active {
        opacity: 1;
      }
    }
    .carousel-target {
      position: absolute;
      top: 250px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 67px;
      height: 11px;
      display: flex;
      justify-content: space-between;
      .target {
        width: 11px;
        height: 11px;
        background: rgba(214, 116, 72, 0.5);
        border-radius: 50%;
      }
    }
  }
}

.home-about {
  padding-top: 120px;
  &-image {
    padding-bottom: 1px;
    display: flex;
    justify-content: center;
    img {
      width: 310px;
      height: 263px;
    }
    .image-lg {
      display: none;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 199px;
    height: 185px;
    margin: 0 auto;
    h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      text-align: center;
    }
    p {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #535353;
    }
    button {
      width: 166px;
      height: 40px;
      margin: 0 auto;
      background: #D67448;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

.home-proyects {
  margin-top: 110px;
  &-title {
    h2 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
    }
  }
  &-carousel {
    background-image: url('../images/home-proyects-bg-sm.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 90%;
    margin: 50px auto 0;
    max-width: 323px;
    height: 287px;
    .carousel-controls {
      position: absolute;
      top: 120px;
      left: 0;
      right: 0;
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .carousel-proyects {      
      position: absolute;
      top: 48px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      .proyect-box {
        grid-row: 1/2;
        grid-column: 1/2;
        opacity: 0;
        width: 50%;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: #000000;
          text-align: center;
        }
        p {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #535353;
        }
        span {
          display: block;
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          a {
            text-decoration: none;
            color: #888888;
          }
        }
      }
      .active {
        opacity: 1;
      }
    }
    .carousel-target {
      position: absolute;
      top: 228px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 67px;
      height: 11px;
      display: flex;
      justify-content: space-between;
      .target {
        width: 11px;
        height: 11px;
        background: rgba(214, 116, 72, 0.5);
        border-radius: 50%;
      }
      .current {
        background: #D67448;
      }
    }
  }
}

.home-banner {
  margin-top: 110px;
  width: 100%;
  height: 347px;
  background: linear-gradient(180deg, #E99D6D 34.9%, #F1EFEE 83.33%, #FFFFFF 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .banner-title {
    width: 90%;
    h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #FFFFFF;
    }
  }
  .banner-text {
    width: 90%;
    padding-top: 50px;
    p {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      text-align: center;
    }
  }
}

.contact {
  margin-top: 55px;
  &-form {
    h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #000000;
      padding: 9px 0;
    }
    h4 {
      width: 90%;
      margin: 15px auto;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #000000;
    }
    .form-group {
      margin-top: 35px; //65
      input {
        display: block;
        width: 90%;
        margin: 0 auto 10px;
        height: 47px;
        border: 1px solid #AFAFAF;
      }
      input::placeholder {
        padding: 0 10px;
      }
      input.textarea {
        display: block;
        width: 90%;
        height: 140px;
        margin: 0 auto 10px;
        border: 1px solid #AFAFAF;
      }
    }
    button {
      display: block;
      margin: 26px auto;
      width: 130px;
      height: 40px;
      background: #D67448;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
    .contact-media {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      li {
        list-style-type: none;
        padding: 13px 0;
        div {
          display: flex;
          align-items: center;
          div {
            width: 28px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
          }
          span {
            display: block;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
  &-images {
    width: 90%;
    margin: 32px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    gap: 10px;
  }
}

.footer {
  margin-top: 34px;
  width: 100%;
  height: 152px;
  background: linear-gradient(96.3deg, #047A6E 1.86%, #9BC3BF 98.69%);
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  &-logo {
    padding-left: 10%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    span {
      display: block;
      font-family: 'Comfortaa';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.015em;
      color: #FFFFFF;
      padding: 0 10px;
    }
  }
  &-media {
    padding-right: 10%;
    justify-self: right;
    &-net {
      ul {
        width: 90px;
        display: flex;
        justify-content: space-between;
        li {
          list-style-type: none;
        }
      }
    }
    &-menu {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 0;
        li {
          list-style-type: none;
          padding: 6px 0;
          a {
            text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.015em;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  &-copy {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;      
    p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.015em;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

//Proyects.html

.proyects {
  padding: 50px 0;
  &-title {
    width: 90%;
    margin: 0 auto 50px;
    h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      text-align: center;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    &-box {
      display: flex;
      flex-direction: column;
      .box-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 310px;
        height: 281px;
        margin: 0 auto;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: block;
          width: 200px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 900;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          color: #FFFFFF;
        }
      }
      .box-one {
        background-image: url('../images/proyect-image-one-sm.png');
      }
      .box-two {
        background-image: url('../images/proyect-image-two-sm.png');
      }
      .box-three {
        background-image: url('../images/proyect-image-three-sm.png');
      }
      .box-title {
        width: 200px;
        margin: 20px auto 10px;
        h3 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: #000000;
        }
      }
      .box-text {
        width: 310px;
        margin: 0 auto;
        p {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #535353;
        }
      }
    }
  }
}

//about.html

.about-me {
  padding-top: 60px;
  &-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-title {
      h3 {
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        text-align: center;
      }
    }
    .about-image {
      width: 90%;
      max-width: 315px;
      height: 268px;
      display: flex;
      justify-content: center;
      img {
        width: inherit;
        height: 268px;
      }
    }
    .about-text {
      width: 90%;
      p {
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #000000;
      }
    }
  }
}

.about-banner {
  margin-top: 50px;
  &-quote {
    padding-top: 30px;
    h2 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }
  }
  &-text {
    margin-top: 30px;
    width: 100%;
    height: 126px;
    background: #D67448;
    ul {
      width: 90%;
      max-width: 310px;
      height: inherit;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        list-style-type: none;
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
      }
      li:last-child {
        display: none;
      }
    }
  }
}

.about-main {
  padding-top: 90px;
  background: #F1F1F1;
  &-image {
    background-image: url('../images/camping.jpg'); /* about-oval-image-sm.png */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid rgba(4, 122, 110, 0.62);
    border-radius: 62%;
    transform: rotate(-1.02deg);
    width: 268.92px;
    height: 210.86px;
    margin: 0 auto;
    .bg-border {
      width: inherit;
      height: inherit;
      border: 3px solid rgba(4, 122, 110, 0.62);
      border-radius: 55%;
      transform: rotate(-44.86deg);
    }
  }
  &-text {
    padding: 50px 0 20px;
    p {
      width: 90%;
      margin: 0 auto;
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
    button {
      display: block;
      width: 166px;
      height: 40px;
      margin: 35px auto;
      border: none;
      background: #D67448;

      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

.about-media {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px 0;
  &-title {
    align-self: center;
    h3 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 50px;
      color: #047A6E;
    }
  }
  &-net {
    align-self: center;
    justify-self: right;
    ul {
      width: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .image-lg {
        display: none;
      }
    }
  }
  &-images {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    .image-lg {
      display: none;
    }
  }
}

.services {
  margin: 70px auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 45px;
  &-box {
    &-image {
      background-size: cover;
      background-position: center;
      width: 100%;
      max-width: 324px;
      height: 263px;
      margin: 0 auto;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: block;
        width: 180px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 38px;
        color: #FFFFFF;
        text-align: center;
      }
    }
    .image-one {
      background-image: url('../images/services-image-one-sm.png');
    }
    .image-two {
      background-image: url('../images/services-image-two-sm.png');
    }
    .image-three {
      background-image: url('../images/services-image-three-sm.png');
      span {
        width: 90%;
      }
    }
    &-info {
      .title-lg {
        display: none;
      }
      p {
        margin-top: 15px;
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #03293C;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 166px;
        height: 40px;
        margin: 20px auto 0;
        background: #D67448;
        border: none;

        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        text-transform: uppercase;
      }
    }
  }
}

.testimonials {
  &-title {
    padding-top: 20px;
    h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }
  }
  &-carousel {
    position: relative;
    height: 300px;
    .carousel-controls {
      position: absolute;
      top: 128px;
      left: 0;
      right: 0;
      width: 90%;
      max-width: 360px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    .carousel-boxes {
      position: absolute;
      top: 38px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 200px;
      height: 189.5px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .carousel-box {
        grid-column: 1/2;
        grid-row: 1/2;
        opacity: 0;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
          width: 38.5px;
          height: 38.5px;
        }
        p {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          color: #535353;
        }
        h4 {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          color: #535353;
          text-transform: uppercase;
        }
      }
      .active {
        opacity: 1;
      }
    }
    .carousel-target {
      position: absolute;
      top: 245px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 67px;
      height: 11px;
      display: flex;
      justify-content: space-between;
      .target {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: rgba(214, 116, 72, 0.5);
      }
      .current {
        background: #D67448;
      }
    }
  }
}

.faq {
  background: #EFEFEF;
  padding-bottom: 35px;
  margin-bottom: -35px;
  &-title {
    padding: 33px 0;
    h3 {
      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #000000;
    }
  }
  &-quotes {
    width: 90%;
    margin: 0 auto;
    div {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr;
      padding: 10px 0;
      border-bottom: 1px solid #D9D9D9;
      h3 {
        align-self: center;
        padding: 5px 0;
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
      }
      div {
        align-self: center;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none;
        .open{
          content:url("../icons/open-faq.png");
          width: 7px;
          height: 4px;
          cursor: pointer;
        }
        .close {
          content:url("../icons/close-faq.png");
          width: 7px;
          height: 1px;
          cursor: pointer;
        }
      }
      p {
        display: none;
        padding: 5px 0;
        grid-row: 2/3;
        grid-column: 1/3;
        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #535353;
        transition: .7s;
      }
      p.active {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: url('../images/header-bg-two-lg.png');
    height: 656px; //756
    border-radius: 0px 0px 170px 0px;
    .navbar {
      position: relative;
      margin: 0 auto;
      padding: 68px 0; //88 0
      width: 75%;
      max-width: 1060px;
      justify-content: center;
      align-items: center;
      &-brand {
        z-index: 5;
        a {
          text-decoration: none;
          div {
            width: 150px;
            img {
              width: 22.52px;
              height: 22.52px;
            }
            span {
              font-size: 40px;
            }
          }
        }
      }
      &-open-menu {
        display: none;
      }
      &-nav {
        z-index: 3;
        position: absolute;
        display: block;
        width: 100%;
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr 50% 1fr 1fr;
          grid-template-rows: 1fr;
          a {
            text-decoration: none;
            li {
              font-family: 'SF UI Display';
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              color: #FFFFFF;
              list-style-type: none;
            }
          }
          .disable {
            cursor: none;
          }
          .left-item {
            justify-self: right;
          }
          .rigth-item {
            justify-self: left;
          }
        }
      }
    }
    &-title {
      left: 273px;
      bottom: 208px; //248
      h2 {
        font-size: 50px;
        -webkit-text-stroke: 2px #FFFFFF;
      }
      h3 {
        font-size: 82px;
        line-height: 85px;
      }
    }
    .social-media {
      display: block;
      position: absolute;
      top: 240px;  //340
      right: 0;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          text-decoration: none;
          padding: 12px 40px 12px 0;
          li {
            list-style-type: none;
            padding: 0 20px;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
        a:last-child {
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 61px 0 0 61px;
          li {
            img {
              width: 25px;
              height: 16px;
            }
          }
        }
      }
    }
    .menu-mobile {
      display: none;
    }
  }
  .header-home {
    background-image: url('../images/header-bg-lg.png');
    height: 834px;  //1034
    margin-bottom: 0;
    .header-title {
      bottom: 376px; //526
    }
    .welcome {
      background-color: rgba(0, 0, 0, 0);
      top: auto;
      bottom: 0;
      flex-direction: row;
      justify-content: left;
      height: 154px;  //254
      &-subtitle {
        position: absolute;
        left: 0;
        padding: 0;
        width: 25%;
        height: 154px; //254
        background: #047A6E;
        border-radius: 0px 127px 0px 0px;
        display: flex;
        align-items: center;
        h4 {
          position: relative;
          left: 30%;
          font-size: 32px;
        }
      }
      &-text {
        padding: 0;
        width: 75%;
        height: 154px; //254
        background: #E99D6D;
        border-radius: 0px 127px 0px 0px;
        display: flex;
        align-items: center;
        p {
          margin-left: 30%;
          padding: 0 10%;
          font-size: 24px;
        }
      }
    }
  }

  //Index - Brand Message

  .brand-message {
    &-title {
      max-width: 70%;
      .border-bg {
        background-image: none;
        width: 100%;
        h2 {
          font-size: 32px;
          line-height: 36px;
        }
      }
    }
    &-carousel {
      .carousel-controls {
        display: none;
      }
      .carousel-message {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        width: 90%;
        margin: 0 auto;
        .message-box {
          grid-column: 2/3;
          grid-row: 1/2;
          width: 255px;
          height: 269px;
          opacity: 1;
          h3 {
            font-size: 20px;
            line-height: 24px;
          }
          p {
            font-size: 16px;
            line-height: 24px;
          }
          button {
            width: 231px;
            height: 52px;
            font-size: 16px;
            line-height: 18px;
          }
        }
        .message-box:first-child {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .message-box:last-child {
          grid-column: 3/4;
          grid-row: 1/2;
        }
      }
      .carousel-target {
        display: none;
      }
    }
  }

  //index - Home about
  .home-about {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    &-image {
      .image-sm {
        display: none;
      }
      .image-lg {
        display: block;
        width: 481px; //531
        height: 536px; //586
      }
    }
    &-info {
      align-items: flex-start;
      padding-bottom: 100px;
      width: 357px;
      height: 198px;
      margin: 0 100px;
      h3 {
        font-size: 32px;
        line-height: 36px;
      }
      p {
        font-size: 16px;
        line-height: 19px;
        text-align: left;
      }
      button {
        width: 231px;
        height: 52px;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
      }
    }
  }

  //home proyects

  .home-proyects {
    margin-top: 150px;
    &-title {
      h2 {
        font-size: 32px;
        line-height: 36px;
      }
    }
    &-carousel {
      background-image: none;
      max-width: 90%;
      height: 480px;
      margin: 0 auto;
      .carousel-controls {
        display: none;
      }
      .carousel-proyects {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: 0 auto;
        .proyect-box {
          grid-column: 2/3;
          width: 354px; //434
          height: 290px; //355
          justify-content: center;
          opacity: 0.7;
          h3 {
            width: 180px;
            margin: 0 auto;
            font-size: 28px;
            line-height: 31px;
          }
          p {
            font-size: 14px;
            line-height: 16px;
            margin: 24px 0;
            padding: 0 20px;
          }
          span {
            font-size: 14px;
            line-height: 16px;
          }
        }
        .proyect-box:first-child {
          grid-column: 1/2;
        }
        .proyect-box:last-child {
          grid-column: 3/4;
        }
        .active {
          background-image: url('../images/home-proyects-bg-lg.png');
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          margin-top: 80px;
          opacity: 1;
          h3 {
            width: 220px;
            margin: 0 auto;
            font-size: 32px;
            line-height: 35px;
          }
          p {
            font-size: 16px;
            line-height: 19px;
            margin: 24px 0;
            padding: 0 20px;
          }
          span {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
      .carousel-target {
        top: 460px;
        width: 123px;
        height: 13px;
        .target {
          width: 13px;
          height: 13px;
          background: #D9D9D9;
        }
        .current {
          background: #A2A2A2;
        }
      }
    }
  }

  //home banner
  .home-banner {
    z-index: 1;
    position: relative;
    flex-direction: row-reverse;
    height: 510px;
    .banner-text {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      background: #F1F1F1;
      height: 297px;
      width: 70%;
      padding: 0 0 0 10%;
      display: flex;
      align-items: center;
      p {
        display: flex;
        align-items: center;
        width: 492px;
        height: 204px;
        font-size: 24px;
        line-height: 34px;
        text-align: left;
      }
    }
    .banner-title {
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: inherit;
      background: #E99D6D;
      border-radius: 148.5px 0px 0px 0px;
      padding: 0 0 0 10%;
      h3 {
        height: 297px;
        display: flex;
        align-items: center;
        font-size: 32px;
        line-height: 38px;
      }
    }
  }

  //home contact

  .contact {
    position: relative;
    z-index: 4;
    top: -213px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin: 0;
    background-color: #fff;
    border-radius: 0px 140px 0px 0px;
    &-form {
      transform: translateY(213px);
      z-index: 5;
      grid-row: 1/2;
      grid-column: 2/3;
      width: 60%;
      justify-self: center;
      h3 {
        font-size: 32px;
        line-height: 35px;
      }
      h4 {
        font-size: 24px;
        line-height: 27px;
      }
      .contact-media {
        li {
          div {
            span {
              font-size: 16px;
              line-height: 19px;
            }
          }
        }
      }
    }
    &-images {
      z-index: 5;
      transform: translateY(213px);
      grid-row: 1/2;
      grid-column: 1/2;
      gap: 0;
      img {
        transform: rotate(24.76deg);
        width: 169px;
        height: 197px;
        border-radius: 17px;
      }
    }
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    &-logo {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      span {
        font-size: 28px;
        line-height: 31px;
      }
    }
    &-media {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: center;
      &-net {
        display: none;
      }
      &-menu {
        ul {
          flex-direction: row;
          li {
            padding: 0 25px;
            a {
              font-size: 15px;
              line-height: 18px;
            }
          }
        }
      }
    }
    &-copy {
      grid-column: 3/4;
      grid-row: 1/2;
      p {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }

  //Proyects.html

  .proyects {
    padding: 100px 0;
    &-title {
      h3 {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &-grid {
      gap: 140px;
      width: 80%;
      max-width: 1080px;
      margin: 0 auto;
      padding: 50px 0;
      &-box {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr auto;
        grid-gap: 42px 0;
        .box-image {
          grid-row: 1/2;
          grid-column: 1/3;
          width: 100%;
          height: 445px;
          display: block;
          span {
            position: relative;
            width: 300px;
            top: 47px;
            left: 92px;
            font-size: 36px;
            line-height: 50px;
          }
        }
        .box-one {
          background-image: url('../images/proyect-image-one-lg.png');
        }
        .box-two {
          background-image: url('../images/proyect-image-two-lg.png');
        }
        .box-three {
          background-image: url('../images/proyect-image-three-lg.png');
        }
        .box-title {
          grid-row: 2/3;
          grid-column: 1/2;
          width: 90%;
          margin: 0;
          h3 {
            font-size: 36px;
            line-height: 50px;
            text-align: left;
          }
        }
        .box-text {
          grid-row: 2/3;
          grid-column: 2/3;
          width: 90%;
          margin: 0 0 0 auto;
          p {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
          }
        }
      }
    }
  }

  //about-html
  .about-me {
    padding-top: 150px;
    &-grid {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      .about-title {
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: flex-end;
        width: 348px;
        margin-left: 100px;
        transform: translateY(-100px);
        h3 {
          font-size: 32px;
          line-height: 38px;
          text-align: left;
        }
      }
      .about-text {
        grid-row: 2/3;
        grid-column: 2/3;
        align-self: flex-start;
        width: 348px;
        margin-left: 100px;
        transform: translateY(-75px);
        p {
          font-size: 16px;
          line-height: 24px;
          text-align: left;
        }
      }
      .about-image {
        grid-row: 1/3;
        grid-column: 1/2;
        width: 100%;
        max-width: 531px;
        height: 536px;
        border-radius: 40px;
        align-items: center;
        img {
          height: 536px;
        }
      }
    }
  }

  .about-banner {
    &-quote {
      h2 {
        font-size: 32px;
        line-height: 38px;
      }
    }
    &-text {
      margin-top: 90px;
      height: 397px;
      ul {
        width: 75%;
        max-width: 75%;
        justify-content: space-between;
        li {
          width: 45%;
          max-width: 450px;
          font-size: 24px;
          line-height: 30px;
          text-align: left;
        }
        li:last-child {
          display: block;
        }
      }
    }
  }
  .about-main {
    display: flex;
    width: 80%;
    padding: 150px 10%;
    align-items: center;
    &-image {
      width: 524.35px;
      height: 411.14px;
      border: 3px solid rgba(4, 122, 110, 0.62);
      border-radius: 62%;
      transform: rotate(-1.02deg);
    }
    &-text {
      padding-left: 60px;
      p {
        font-size: 16px;
        line-height: 24px;
      }
      button {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .about-media {
    margin: 150px auto;
    width: 80%;
    grid-gap: 34px 0;
    &-title {
      h3 {
        font-size: 36px;
        line-height: 50px;
      }
    }
    &-net {
      ul {
        width: 229px;
        .image-sm {
          display: none;
        }
        .image-lg {
          display: block;
        }
      }
    }
    &-images {
      .image-sm {
        display: none;
      }
      .image-lg {
        display: block;
        width: 22%;
        max-width: 256px;
        max-height: 280px;
      }
    }
  }

  //services.html

  .services {
    margin: 180px auto;
    width: 80%;
    gap: 100px;
    &-box {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
      align-items: center;
      &-image {
        width: 90%;
        max-width: 550px;
        height: 393px;
        margin: 0;
        border-radius: 40px;
        background-position: left;
        background-size: cover;
        span {
          display: none;
        }
      }
      .image-one {
        background-image: url('../images/services-image-one-lg.png');
      }
      .image-two {
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url('../images/services-image-two-lg.png');
      }
      .image-three {
        background-image: url('../images/services-image-three-lg.png');
      }
      &-info {
        width: 90%;
        .title-lg {
          display: block;
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #000000;
        }
        p {
          font-size: 16px;
          line-height: 24px;
        }
        button {
          margin: 40px 0;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .info-two {
        grid-row: 1/2;
        grid-column: 1/2;
      }
    }  
  }

  .testimonials {
    margin-bottom: 150px;
    &-title {
      h3 {
        font-size: 32px;
        line-height: 38px;
        color: #03293C;
      }
    }
    &-carousel {
      top: 50px;
      height: 350px;
      .carousel-controls {
        display: none;
      }
      .carousel-boxes {
        width: 80%;
        display: flex;
        justify-content: space-between;
        .carousel-box {
          opacity: 1;
          width: 256px;
          height: 261.5px;
          p {
            font-size: 16px;
            line-height: 24px;
          }
          h4 {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
      .carousel-target {
        display: none;
      }
    }
  }

  .faq {
    padding-top: 40px;
    padding-bottom: 130px;
    &-title {
      padding: 93px 0 53px;
      h3 {
        font-size: 32px;
        line-height: 38px;
      }
    }
    &-quotes {
      width: 70%;
      background: #EFEFEF;
      div {
        margin: 5px 0;
        background: #FFFFFF;
        border-radius: 5px;
        border-bottom: none;
        h3 {
          display: flex;
          align-items: center;
          height: 60px;
          padding: 0 15px;
          font-size: 20px;
          line-height: 24px;
        }
        div {
          padding: 0 15px;
          .open{
            content:url("../icons/open-faq-lg.png");
            width: 17px;
            height: auto;
          }
          .close {
            width: 15px;
            height: auto;
          }
        }
        p {
          padding: 15px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}